<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="UTF-8">
<title>Spring Security</title>
</head>
<body>
	
	<div th:if="${param.error}">
		Usuario o password inválido.
	</div>
	<div th:if="${param.logout}">
		Ha salido del sistema.
	</div>
	
	<form th:action="@{/j_spring-security_check}" method="post">
		<div><label>Usuario : </label><input type="text" name="username"></div>
		<div><label>Contraseña : </label><input type="password" name="passworda"></div>
	</form>
</body>
</html>