<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Inicio</title>
</head>
<body>
	<h1>Proveedores</h1>
	<table>
		<tr>
			<td><a th:href="@{/proveedores}">Mostrar todos los proveedores</a></td>
		</tr>	
		<tr>
			<td><a th:href="@{/proveedoresDni}">Buscar por DNI</a></td>
		</tr>
		<tr>
			<td><a th:href="@{/nuevoProveedor}">Crear nuevo proveedor</a></td>
		</tr>
		<tr>
			<td><a th:href="@{/borraProveedor}">Borra un proveedor</a></td>
		</tr>
		<tr>
			<td><a th:href="@{/cambiaProveedor}">Modifica un proveedor</a></td>
		</tr>
	</table>
</body>
</html>